*Q1. Explain with an example each when to use a for loop and a while loop.*

A for loop is used when you have a known number of iterations, and you want to repeat a set of instructions a specific number of times. For example, if you want to print out the numbers 1 to 5, you can use a for loop:

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

A while loop, on the other hand, is used when you want to repeat a set of instructions as long as a certain condition is met. For example, if you want to print out the numbers 1 to 10 only if a certain condition is met, you can use a while loop. In this example, the while loop will keep executing as long as i is less than or equal to 10. When i becomes greater than 10, the loop will exit.

In [ ]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

*Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.*

In [4]:
sum = 0
product = 1

for i in range(1,11):
    sum+=i
    product*=i

print("Sum of first 10 natural numbers:", sum)
print("Product of first 10 natural numbers:", product)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

In [5]:
sum1 = 0
product1 = 1
j=1

while j<=10:
    sum1+=j
    product1*=j
    j+=1
print("Sum of first 10 natural numbers:", sum1)
print("Product of first 10 natural numbers:", product1)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800


*Q3. Create a python program to compute the electricity bill for a household.*

*The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit. You are required to take the units of electricity consumed in a month from the user as input. Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.*

In [10]:
units=int(input("No of units consumed this month = "))

bill=0
bill1=450
bill2=600
bill3=1000
if units>500:
    t=(units-500)
    bill=bill+t*20+bill1+bill2+bill3

elif 500>=units>300:
    t=(units-300)
    bill=bill+t*10+bill1+bill2
    

elif 300>=units>100:
    t=(units-100)
    bill=bill+t*6+bill1
  

elif 0<=units<=100:
    bill=bill+units*4.5

else :
    print("invalid input")
    
print("Your electricity bill is",bill)

No of units consumed this month = 500
Your electricity bill is 3050

*Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.*

In [11]:
result = []
for i in range(1, 101):
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        result.append(i)
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [12]:
result = []
i = 1
while i <= 100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        result.append(i)
    i += 1
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

*Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"*

In [13]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0

for char in string:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 12